<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        img{
            width: 30px;
            height: 30px;
        }
        td{
            padding: 10px;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body>

<h1>Egindako alokairuak</h1>

<table border="1">
    <thead>
    <tr>
<td>ID</td>
<td>DNI</td>
<td>Matrikula</td>
<td>Alokatze data</td>
        <td><a href="alokairuaSartu/"><b>+</b></a></td>

</tr>
    </thead>
    <tbody>
{% for x in nireAlokairuak %}
<tr>
<td>{{ x.id }}</td>

<td> {{ x.dniPertsona }}</a></td>
<td>{{ x.matrikula.matrikula }}</td>
<td>{{ x.alokairuData }}</td>
    <td><a href="deleteAlokairu/{{ x.id }}"><b>EZABATU</b></a></td>
</tr>
{% endfor %}
    </tbody>
</table>
<a href="pertsonak/">Pertsonak ikusi</a>
<a href="kotxeak/">Kotxeak ikusi</a>
</body>

</html>